```{=html}
<div class="list grid" style="height: 30px; column-gap: 10px;">
    <% for (const tile of items) { %>
    <div class="card rounded-3 p-2 g-col-12 g-col-sm-6 g-col-md-4 h-100 bg-light" <%= metadataAttrs(tile) %>>
        <a href="<%- tile.url %>">
            <img src="<%- tile.thumbnail %>" alt="<%- tile.description %>" class="card-img-top border rounded-3 gallery-img"/>
        </a>
        <div class="card-body m-0 px-2 d-flex flex-column justify-content-between">
            <div class="card-title pt-2">
                <a href="<%- tile.url %>"><%= tile.title %></a>
            </div>
            <div class="card-text align-items-end"><small><%= tile.description %></small></div>
        </div>
    </div>
    <% } %>
</div>
```